body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Helvetica Neu", helvetica, arial, sans-serif;
  background-image: url("assets/noise.png");
  border: 2px solid #800080;
}

thead,
tfoot {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
  font-family: "Rock Salt", cursive;
  color: white;
}
th {
  border: 2px solid #800080;
}
tbody tr td:first-child {
  font-weight: bold;
}
thead tr,
tfoot tr {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
  background-image: url("assets/leopardskin.jpg");
}

tr:nth-child(odd) {
  background-color: #ff33cc;
}

tr:nth-child(even) {
  background-color: #e495e4;
}
tbody {
  text-align: center;
  border: 2px solid #800080;
}
th,
td {
  padding: 8px 12px;
}

tfoot td {
  width: 50%;
  font-weight: bold;
}

tfoot td:first-child {
  width: 50%;
  text-align: right;
  border: 2px solid #800080;
}
